*{
    color:blue
}
body{
    text-align: center;
}
.bg{
    background: red  no-repeat; width: 100%; height:100vh;
}
.form-container{
    border:0px solid; padding:50px 60px; margin-top:20vh;
    -webkit-box-shadow: -1px 6px 32px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 32px 8px rgba(233, 104, 104, 0.75);
    box-shadow: -1px 6px 32px 8px rgba(0,0,0,0.75);
}
.create{
    margin-top: 50%;
    padding:10%;
}
.import{
    padding:10%;
}

.modal-header {
    background-color: green;
    color: white;
}

.modal-body, .mdbody {
    color: cadetblue;
}

.mt-0 {
    margin-top: 10px !important;
}

.alert {
    margin-left: 30%;
    width: 40%;
}