<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrapping</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    </head>
    <body>
        {{ if .Redirect }}
        <script>
            $(document).ready(function(){
                $(location).attr('href', "/start")
            });
        </script>
        {{ end }}
        {{ if .Error }}
        <script>
            $(function() {
                $( "#errDialog" ).dialog();
            });
        </script>
        <div id="dialog" title="Error">
            <p>{{ .Msg }}. Reload page to try again.</p>
        </div>
        {{ end }}
    </body>
</html>