<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>List bill</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    </head>
    <body>
        <table id="bill" class="cell-border compact stripe" style="width:30%">
            <thead>
                <tr></tr>
                    <th>Friend</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {{ if .Found }}
                {{ range .Data}}
                <tr>
                    <td><a href="viewbill?uname={{ .NickName }}">{{ .NickName }}</a></td>
                    <td>{{ .Message }} {{ .Total }}</td>
                </tr>
                {{ end }}
                {{ end }}
            </tbody>
        </table>
    </body>
    <script>
        $(document).ready(function() {
            var table = $('#bill').DataTable({
                language: {
                    emptyTable: 'No data available'
                },
                columnDefs: [
                    {
                        targets: '_all',
                        className: 'dt-body-center dt-head-center'
                    },
                    
                ],
                "bInfo": false,
                "bFilter": true,
                "paging":   false,
                "info":     false,
                "searching": false
            });
        } );
    </script>
    
</html>