<!DOCTYPE html>
<head>
    <title>Bills</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script>
        $(document).ready(function() {
            var table = $('#friends').DataTable({
                language: {
                    emptyTable: 'No transaction history exists.'
                },
                columnDefs: [
                    {
                        targets: '_all',
                        className: 'dt-body-center dt-head-center'
                    },
                    
                ],
                "bInfo": false,
            });
        } );
    </script>
</head>
<body>
<table id="friends" class="display" style="width:50%">
    <thead>
        <tr>
            <td>Description</td>
            <td>Amount</td>
            <td>Date</td>
            <td>Added on</td>
        </tr>
    </thead>
    <tbody>
        {{ if .Found }}
        {{ range .Data }}
        {{ if eq .Type 1 }}
        <tr style="color:green; font-weight: bold;">
        {{ else if eq .Type 2 }}
        <tr style="color:red; font-weight: bold;">
        {{ else }}
        <tr>
        {{ end }}
            <td>{{ .Description }}</td>
            <td>{{ .Amount }}</td>
            <td>{{ .Date }}</td>
            <td>{{ .DateAdded }}</td>
        </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>
</body>
</html>